<body>
<div class="container">
  <nav>
    <div class="row">
      <div class="col-md-1"> 
        <img src="../assets/icon.png" style="height: 100px;width: 200px;">
      </div>
      <div class="col-md-11">
        <h1>Quotify</h1>
      </div>
    </div>
    <ul>
      <li><a href="#quotelist">Quote list</a></li>
      <li><a href="#contactus">Contact us</a></li>
    </ul>
   </nav> 
  <div id="quotelist">
      <app-quote></app-quote>
  </div>
  <div id="contactus">
    <app-contactus></app-contactus>
  </div>
</div>
</body>