button{
  border-radius: 8px;
}
.row{
  background-color:black;
  margin: 20px;
}
h3{
  color: #ff6361;
  text-align: center;
}
li{
  padding: 10px;
}
button{
  margin:10px;
  background-color: blue;
}
