h2{
  color:#ff6361;
  text-align: center;
}
input{
  display: block;
  padding: 20px;
}
textarea{
  display: block;
  padding: 20px;
}
button{
  font-size: 20px;
  border-radius: 8px;
  padding: 12px 20px;
  margin: 10px 400px 10px;
}
form{
  background-color: black;
}
.row{
  margin: 10px;
}